@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Estonia&family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css");

@mixin Open-Sans-700 {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
}

@mixin Open-Sans-800 {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  text-transform: uppercase;
}

@mixin Roboto-400 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
}

@mixin Estonia-400 {
  font-family: 'Estonia';
  font-style: normal;
  font-weight: 400;
}

@mixin Roboto-500 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
}

@mixin subnav-layer-style {
  display: none;
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 1;
  a {
      float: left;
      color: black;
      text-decoration: none;
  }
  a:hover {
      background-color: #eee;
      color: black;
  }
}

.text1 {
  font-size: 10px;
}
.text2 {
  font-size: 16px;
  font-weight: 700;
}

#navbar1 {
  position: absolute;
  width: 100%;
  height: 100px;
  background: #FFFFFF;
  #content {
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-left: 19.53%;
    #logo {
    }
    #call {
      padding-left: 17.18%;;
    }
    .text-call {
      padding-left: 15px;
    }
    .batas {
      padding-left: 40px;
      span {
        display: block;
        width: 1px;
        height: 40px;
        background: #E6E7E8;
      }
    }
    #mail {
      padding-left: 40px;
    }
    .text-mail {
      padding-left: 15px;
    }
    p {
      font-family: 'Open Sans', sans-serif;
      text-transform: uppercase;
    }
    #navbar-button {
      position: absolute;
      right: 19.53%;
      button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 16px 39px;
        gap: 15px;
        width: 199px;
        height: 60px;
        top: 20px;
        background: #FE8C12;
        border-radius: 2px;
        p {
          font-weight: 700;
          color: #FFFFFF;
        }
      } 
    }
  }
}

#navbar2 {
  position: absolute;
  align-items: center;
  width: 60.93%;
  max-width: 1920px;
  left: 19.51%;
  top: 100px;
  display: flex;
  background: #0A0A0B;
  #logo {
    display: none;
    p {
      @include Open-Sans-800();
      font-size: 30px;
      line-height: 46px;
      text-transform: lowercase;
      color: #FFFFFF;
    }
  }
  #content {
    display: flex;
    ul {
      display: flex;
      color: #FFFFFF;
      padding-left: 10px;
      gap: 0px;
      .home-bar {
          color: #FE8C12;
      }
      a {
        @include Open-Sans-700();
        font-size: 14px;
      }
    }
   
    #search {
      gap: 10px;
      align-items: center;
      padding-top: 17px;
      input[type=text] {
        width: 0;
        border-radius: 4px;
        font-size: 16px;
        background-color: transparent;
        background-image: url('/src/Search-Icon-White.svg');
        background-position: 6px 6px; 
        background-repeat: no-repeat;
        padding: 4px 6px 4px 30px;
        transition: 0.3s ease-in-out;
        color: #FFFFFF;
      }
      
      input[type=text]:focus {
        width: 100%;
      }
    }
  
    #sosmed {
      align-items: center;
      position: absolute;
      display: flex;
      gap: 12px;
      right: 20px;
      top: 17px;
      padding-left: 20px;
      .garis {
        padding-right: 20px;
        span {
          display: block;
          width: 1px;
          height: 30px;
          background: #f1f1f1;
          opacity: 0.2;
        }
      }
    }
    li a {
      display: inline-block;
      color: white;
      text-align: center;
      padding: 24px 16px;
      text-decoration: none;
    }
  
    .dropdown {
      display: inline-block;
    }
  
    .dropdown-content {
      display: none;
      position: absolute;
      top: 60px;
      left: 0px;
      background-color: #0A0A0B;
      min-width: 110px;
      z-index: 1;
      list-style: none;
    }
  
    .dropdown-content a {
      color: White;
      padding: 8px 16px;
      text-decoration: none;
      display: block;
      text-align: left;
    }
  
    .dropdown:hover > .dropdown-content {
      display: block;
      a:hover {
        color: #FE8C12;
      }
    }
  
    .dropdown-content2 {
      display: none;
      position: absolute;
      top: 60px;
      left: 170px;
      background-color: #0A0A0B;
      min-width: 94px;
      z-index: 1;
      list-style: none;
    }
  
    .dropdown-content2 a {
      color: White;
      padding: 10px 10px;
      text-decoration: none;
      display: block;
      text-align: left;
    }
  
    .dropdown:hover > .dropdown-content2 {
      display: block;
      a:hover {
        color: #FE8C12;
      }
    }
  
    .dropdown-content3 {
      display: none;
      position: absolute;
      top: 60px;
      left: 250px;
      background-color: #0A0A0B;
      min-width: 100px;
      z-index: 1;
      list-style: none;
    }
  
    .dropdown-content3 a {
      color: White;
      padding: 10px 14px;
      text-decoration: none;
      display: block;
      text-align: left;
    }
  
    .dropdown:hover > .dropdown-content3 {
      display: block;
      a:hover {
        color: #FE8C12;
      }
    }
  }
  #mobile-button {
    display: none;
  }
}

#content1 {
  width: 100%;
  padding-top: 100px;
  margin-bottom: 10px;
  .slideshow-container {
    img {
      width: 100%;
      max-width: 1920px;
      height: 100%;
      max-height: 863px;
    }
  }
  #content {
    h1 {
      width: 50%;
      position: absolute;
      left: 375px;
      top: 363px;
      @include Open-Sans-800();
      font-size: 90px;
      line-height: 110px;
      color: #FFFFFF;
    }
    .text-up {
      position: absolute;
      width: 125px;
      height: 26px;
      left: 375px;
      top: 340px;
      @include Open-Sans-700();
      font-size: 16px;
      line-height: 26px;
      color: #FE8C12;
    }
    .text-bot {
      position: absolute;
      width: 706px;
      height: 71px;
      left: 375px;
      top: 605px;
      @include Roboto-400();
      font-size: 24px;
      line-height: 34px; 
      color: #FFFFFF;
    }
    button {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 16px 39px;
      gap: 15px;
      position: absolute;
      width: 207px;
      height: 60px;
      left: 375px;
      top: 723px;
      background: #FE8C12;
      border-radius: 2px;
      p {
        text-transform: uppercase;
        color: #FFFFFF;
        font-weight: 700;
      }
    }
    .content-image {
      position: absolute;
      width: 60px;
      height: 60px;
      left: 612px;
      top: 723px;
    }
  }
  #button {
    display: flex;
    gap: 10px;
    position: absolute;
    padding-left: 89%;
    top: 807px;
    #left {
    }
    #right {
    }
  }
  
} 

#content2 {
  display: flex;
  width: 100%;
  max-width: 1920px;
  height: 648px;
  background-image: url("/src/content-images/pexels-francesco-ungaro-2835436.jpg");
  background-position:-500px -1000px;
  padding-top: 6.25%;
  #box-content {
    width: 654px;
    height: 408px;
    background-image: url("/src/content-BG.svg");
    top: 120px;
    h1 {
      margin: 50px;
      @include Open-Sans-800();
      font-size: 48px;
      line-height: 62px;
      color: #0A0A0B;
    }
    button {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 16px 39px;
      gap: 15px;
      margin-left: 50px;
      background: #FE8C12;
      border-radius: 2px;
      p {
        @include Open-Sans-700();
        font-size: 16px;
        line-height: 28px;
        color: #FFFFFF;
      }
    }
  }
  
  .play-button {
    p {
      position: absolute;
      padding-top: 120px;
      width: 132px;
      height: 28px;
      @include Estonia-400();
      font-size: 30px;
      line-height: 28px;
      text-transform: uppercase;
      color: #FFFFFF;
    }
    img {
      padding-top: 185px;
      padding-left: 20px;
    }
  }
}

#content3 {
  display: flex;
  width: 100%;
  max-width: 1920px;
  height: 754px;
  background-color: #0A0A0B;
  margin-top: 20px;
  .isi-content3 {
    width: 805px;
    padding-top: 120px;
    h2 {
      display: flex;
      align-items: center;
      @include Roboto-500();
      font-size: 20px;
      line-height: 30px;
      text-transform: uppercase;
      color: #FE8C12;
      gap: 10px;
      span {
        display: block;
        width: 60px;
        height: 2px;
        background-color: #FE8C12;
      }
    }
    h1 {
      width: 90%;
      @include Open-Sans-800();
      font-size: 48px;
      line-height: 62px;
      color: #FFFFFF;
    }
    #text-content3 {
      @include Roboto-400();
      font-size: 16px;
      line-height: 26px;
      color: #CDCED0;
    }
    .isi2-content3 {
      display: flex;
      align-items: center;
      padding-top: 40px;
      gap: 30px;
      p {
        width: 200px;
        @include Open-Sans-800();
        font-size: 20px;
        line-height: 30px;
        color: #FFFFFF;
      }
    }
    .isi3-content3 {
      display: flex;
      align-items: center;
      padding-top: 40px;
      gap: 30px;
      p {
        width: 200px;
        @include Open-Sans-800();
        font-size: 20px;
        line-height: 30px;
        color: #FFFFFF;
      }
    }
  }
  .image-content3 {
    img {
      height: 100%;
      width: 668px;
      object-fit: cover;
    }
  }
}

#footer1 {
  position: absolute;
  width: 100%;
  max-width: 1920px;
  height: 212px;
  left: 0px;
  margin-top: 20px;
  background: #0A0A0B;
  h1 {
    @include Open-Sans-800();
    font-size: 36px;
    line-height: 46px;

    color: #FFFFFF;
  }
  button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 40px;
    gap: 15px;
    height: 60px;
    background: #FFFFFF;
    border-radius: 4px;
    p {
      @include Open-Sans-700();
      font-size: 16px;
      color: #0A0A0B;
    }
  }
}

#footer2 {
  display: flex;
  position: absolute;
  width: 100%;
  max-width: 1920px;
  height: 642px;
  margin-top: 95px;
  background-image: url(/src/Background-footer.svg);
  h1 {
    @include Open-Sans-800();
    font-size: 20px;
    line-height: 30px;
    color: #0A0A0B;
  }
  #content {
    .isi1 { 
      p {
        padding-top: 20px;
        width: 255px;
        height: 100px;
        @include Roboto-400();
        font-size: 16px;
        line-height: 26px;
        color: #353B44;
      }
      .social-media {
        padding-top: 50px;
        display: flex;
        gap: 10px;
      }
    }
    .isi2 {
      padding-left: 4%;
      .link {
        display: flex;
        padding-top: 12px;
        column-gap: 25px;
        li {
          @include Roboto-500();
          font-size: 14px;
          line-height: 45px;
          text-transform: uppercase;
          color: #0A0A0B;
        }
      }
    }
    .isi3 {
      padding-left: 5%;
      .recentpost1 {
        display: flex;
        padding-top: 30px;
        .recentpost-text {
          padding-left: 20px;
          p {
            @include Open-Sans-800();
            width: 180px;
            font-size: 14px;
            line-height: 24px;
            color: #0A0A0B;
          }
          .date {
            display: flex;
            padding-left: 3px;
            gap: 15px;
            p {
              font-size: 12px;
              color: #686C73;
            }
            img {
              padding-top: 4px;
              height: 100%;
            };
          }
        }
      }
    }
    .isi4 {
      padding-left: 8%;
      .information-content1 {
        align-items: center;
        display: flex;
        gap: 20px;
        padding-top: 30px;
      }
      .information-content2 {
        align-items: center;
        display: flex;
        gap: 20px;
        padding-top: 30px;
      }
      .information-content3 {
        align-items: center;
        display: flex;
        gap: 20px;
        padding-top: 30px;
        padding-left: 3px;
        p {
          padding-left: 2px;
          width: 200px;
        }
      }
      p {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 24px;
        color: #0A0A0B;
      }
    }
  }
}

#footer3 {
  width: 100%;
  max-width: 1920px;
  #content {
    p {
      width: 400px;
      @include Open-Sans-700();
      font-size: 14px;
      line-height: 24px;
      color: #0A0A0B;
    }
    .navfooter {
      padding-left: 300px;
      display: flex;
      gap: 25px;
      align-items: center;
      a {
        @include Open-Sans-700();
        font-size: 14px;
        line-height: 24px;
        color: #0A0A0B;
      }
      span {
        display: block;
        background-color: rgb(0, 0, 0);
        width: 2px;
        height: 18px;
      }
    }
  }
}

@media screen and (min-width: 1621px) {
  #content2 {
    padding-left: 19.53%;
    .play-button {
      padding-left: 28%;
    }
  }
  #content3 {
    .isi-content3 {
      padding-left: 19.53%;
    }
    .image-content3 {
      padding-left: 23.5%;
    }
  }
  #footer1 {
    position: absolute;
    width: 100%;
    max-width: 1920px;
    height: 212px;
    left: 0px;
    margin-top: 20px;
    background: #0A0A0B;
    h1 {
      position: absolute;
      left: 19.53%;
      padding-top: 83px;
      @include Open-Sans-800();
      font-size: 36px;
      line-height: 46px;
  
      color: #FFFFFF;
    }
    button {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 16px 40px;
      gap: 15px;
      position: absolute;
      height: 60px;
      right: 19.53%;
      top: 76px;
      background: #FFFFFF;
      border-radius: 4px;
      p {
        @include Open-Sans-700();
        font-size: 16px;
        color: #0A0A0B;
      }
    }
  }
  #footer2 {
    #content {
      display: flex ;
      padding-left: 22.53%;
      padding-top: 13.947%;
    }
  }
  #footer3 {
    #content {
      position: absolute;
      padding-top: 700px;
      display: flex;
      left: 22.53%;
    }
  }
}

@media screen and (max-width: 1620px) {
  #navbar1 {
    #content {
      padding-left: 15.53%;
      #navbar-button {
        right: 15.53%;
      }
    }
  }
  #content1 {
    #content {
      h1 {
        left: 15.53%;
      }
      .text-up {
        left: 15.53%;
      }
      .text-bot {
        left: 15.53%;
      }
      button {
        left: 15.53%;
      }
      .content-image {
        left: 31%;
      }
    }
    #button {
      padding-left: 85%;
      #left {
      }
      #right {
      }
    }
  }

  #content2 {
    padding-left: 15.53%;
    .play-button {
      padding-left: 20%;
    }
  }
  #content3 {
    .isi-content3 {
      padding-left: 15.53%;
    }
    .image-content3 {
      padding-left: 7.5%;
    }
  }
  #footer1 {
    position: absolute;
    width: 100%;
    max-width: 1920px;
    height: 212px;
    left: 0px;
    margin-top: 20px;
    background: #0A0A0B;
    h1 {
      position: absolute;
      left: 15.53%;
      padding-top: 83px;
      @include Open-Sans-800();
      font-size: 36px;
      line-height: 46px;
  
      color: #FFFFFF;
    }
    button {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 16px 40px;
      gap: 15px;
      position: absolute;
      height: 60px;
      right: 16.53%;
      top: 76px;
      background: #FFFFFF;
      border-radius: 4px;
      p {
        @include Open-Sans-700();
        font-size: 16px;
        color: #0A0A0B;
      }
    }
  }
  #footer2 {
    #content {
      display: flex ;
      padding-left: 15.53%;
      padding-top: 13.947%;
    }
  }
  #footer3 {
    #content {
      position: absolute;
      padding-top: 700px;
      display: flex;
      left: 15.53%;
    }
  }
}

@media screen and (max-width:911px) {
  #navbar1 {
    #content {
      padding-left: 5%;
    }
    #navbar-button {
      display: none;
    }
  }
  #navbar2 {
    width: 100%;
    left: 0%;
  }
  #content1 {
    #content {
      h1 {
        width: 80%;
        font-size: 70px;
        top: 220px;
        left: 8%;
        line-height: 101px;
      }
      .text-up {
        top: 210px;
        left: 8%;
      }
      .text-bot {
        top: 420px;
        left: 8%;
      }
      button {
        top: 510px;
        left: 8%;
      }
      .content-image {
        left: 36%;
        top: 510px;
      }
    }
    #button {
      top: 510px;
      padding-left: 79%;
    }
  }
  #content2 {
    padding-left: 5.53%;
    padding-top: 15%;
    #box-content {
      width: 554px;
      height: 388px;
      h1 {
        font-size: 38px;
      }
      button {

      }
    }
    .play-button {
      padding-left: 7%;
    }
  }
  #content3 {
    height: 500px;
    .isi-content3 {
      padding-top: 50px;
      margin-left: -50px;
      h2 {
        font-size: 15px;
        line-height: 20px;
      }
      h1 {
        width: 100%;
        font-size: 33px;
        line-height: 50px;
      }
      #text-content3 {
        font-size: 12px;
      }
      .isi2-content3 {
        padding-top: 20px;
        img {
          width: 70px;
        }
        p {
          font-size: 14px;
        }
      }
      .isi3-content3 {
        padding-top: 20px;
        img {
          width: 70px;
        }
        p {
          font-size: 14px;
        }
      }
    }
  }
  #footer1 {
    height: 150px;
    h1 {
      left: 5%;
      padding-top: 24px;
      font-size: 28px;
    }
    button {
      right: 8%;
      top: 42px;
    }
  }
  #footer2 {
    height: 170px;
    #content {
      display: none;
    }
  }
  #footer3 {
    #content {
      position: absolute;
      padding-top: 220px;
      display: flex;
      left: 35px;
      .navfooter {
        padding-left: 0;
      }
    }
  }
}

@media screen and (max-width:  430px) {
  body {
    overflow-x: hidden;
  }
  #navbar1 {
    display: none;
  }
  #navbar2 {
    top: 0px;
    height: 50px;
    #logo {
      display: flex;
      width: 110px;
      padding-left: 20px;
      p {
        margin-left: -61px;
        font-size: 16px;
      }
    }
    #content {
      display: none;
    }
    #mobile-button {
      position: absolute;
      right: 20px;
      display: block;
      padding-top: 6px;
      .cekbox {
        position: absolute;
        width: 22px;
        height: 22px;
        margin-top: -4px;
        margin-left: -1px;
        opacity: 0;
      }
      span {
        display: block;
        width: 20px;
        height: 2px;
        background: #E6E7E8;
        margin-bottom: 4px;
      }
    }
    #mobile-button span {
      transition: all 0.75s;
      -webkit-transition: all 0.75s;
      -moz-transition: all 0.75s;
      -ms-transition: all 0.75s;
      -o-transition: all 0.75s;
}

  #mobile-button span:nth-child(2) {
      transform-origin: 0 0;
  }

  #mobile-button span:nth-child(4) {
      transform-origin: 0 0;
  }

  #mobile-button input:checked ~ span:nth-child(2) {
      background-color: #dfdfdf;
      transform: rotate(45deg) translate(3px, -3px);
      -webkit-transform: rotate(45deg) translate(3px, -3px);
      -moz-transform: rotate(45deg) translate(3px, -3px);
      -ms-transform: rotate(45deg) translate(3px, -3px);
      -o-transform: rotate(45deg) translate(3px, -3px);
} 
  
  #mobile-button input:checked ~ span:last-child {
      background-color: #dfdfdf;
      transform: rotate(-45deg) translate(0px, 3.5px);
      -webkit-transform: rotate(-45deg) translate(0px, 3.5px);
      -moz-transform: rotate(-45deg) translate(0px, 3.5px);
      -ms-transform: rotate(-45deg) translate(0px, 3.5px);
      -o-transform: rotate(-45deg) translate(0px, 3.5px);
}  

  #mobile-button input:checked ~ span:nth-child(3) {
      opacity: 0;
  }
  }
  #content1 {
    padding-top: 50px;
    width: 100%;
    height: 300px;
    #content {
      .text-up {
        top: 70px;
        font-size: 12px;
      }
      h1 {
        top: 90px;
        font-size: 35px;
        line-height: 45px;
      }
      .text-bot {
        top: 185px;
        left: 34px;
        font-size: 11px;
        width: 300px;
        line-height: 15px;
      }
      button {
        display: none;
      }
      .content-image {
        display: none;
      }
    }
    #button {
      top: 250px;
      padding-left: 300px;
      gap: 3px;
      #left {
        width: 30px;
        height: 30px;
      }
      #right {
        width: 30px;
        height: 30px;
      }
    }
  }
  #content2 {
    background-size: 500px;
    padding-top: 45px;
    height: 260px;
    #box-content {
      width: 240px;
      height: 170px;
      background-size: cover;
      h1 {
        padding-top: 5px;
        font-size: 20px;
        line-height: 25px;
        margin: 15px;
      }
      button {
        padding: 8px 20px;
        gap: 7px;
        p {
          font-size: 12px;
          line-height: 20px;
        }
        img {
          width: 8px;
          height: 8px;
        }
      }
    }
    .play-button {
      p {
        font-size: 18px;
        padding-top: 40px;
        color: rgba(0, 0, 0, 0.7);
      }
      img {
        width: 60px;
        padding-top: 75px;
        padding-left: 15px;
        margin-right: 10px;
      }
    }
  }
  #content3 {
    margin-top: 0;
    height: 250px;
    .isi-content3 {
      padding-top: 20px;
      h2 {
        font-size: 10px;
        gap: 5px;
        span {
          width: 25px;
          height: 1px;
        }
      }
      h1 {
        width: 100%;
        font-size: 20px;
        line-height: 32px;
        margin-top: -5px;
      }
      #text-content3 {
        font-size: 6px;
        line-height: 9px;
      }
      .isi2-content3 {
        padding-top: 10px;
        gap: 10px;
        p {
          width: 100px;
          font-size: 8px;
          line-height: 12px;
        }
        img {
          width: 40px;
        }
      }
      .isi3-content3 {
        padding-top: 10px;
        gap: 10px;
        p {
          width: 100px;
          font-size: 8px;
          line-height: 12px;
        }
        img {
          width: 40px;
        }
      }
    }
    .image-content3 {
      width: 500px;
    }
  }
  #footer1 {
    height: 80px;
    margin-top: 5px;
    h1 {
      font-size: 14px;
      line-height: 18px;
      margin-top: -17px;
    }
    button {
      padding: 8px 8px;
      height: auto;
      gap: 6px;
      margin-top: -17px;
      p {
        font-size: 10px;
      }
      img {
        width: 9px;
      }
    }
  }
  #footer2 {
    margin-top: 10px;
    height: 110px;
    padding-top: 0;
  }
  #footer3 {
    #content {
      margin-left: -20px;
      padding-top: 97px;
      width: 100%;
      p {
        font-size: 8px;
        line-height: 10px;
        width: auto;
      }
      .navfooter {
        position: absolute;
        right: 7%;
        gap: 8px;
        a {
          font-size: 8px;
          line-height: 10px;
        }
        span {
          height: 9px;
          width: 1px;
        }
      }
    }
  }
  #navbar2 content ul {
    display: flex;
    position: absolute;
    flex-direction: column;
    list-style: none;
    top: -18px;
    right: 0;
    row-gap: 30px;
    background-color: #1e1e1e;
    width: 60%;
    height: 100vh;
    padding: 50px 0px;
    transform: translate(100%);
    -webkit-transform: translate(100%);
    -moz-transform: translate(100%);
    -ms-transform: translate(100%);
    -o-transform: translate(100%);
    transition: all 0.75s;
    -webkit-transition: all 0.75s;
    -moz-transition: all 0.75s;
    -ms-transition: all 0.75s;
    -o-transition: all 0.75s;
  }

  #navbar2 content .slide {
    transform: translate(0%);
    -webkit-transform: translate(0%);
    -moz-transform: translate(0%);
    -ms-transform: translate(0%);
    -o-transform: translate(0%);
  }
}