@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Estonia&family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css");
.text1 {
  font-size: 10px; }

.text2 {
  font-size: 16px;
  font-weight: 700; }

#navbar1 {
  display: flex;
  position: absolute;
  align-items: center;
  width: 100%;
  height: 100px;
  left: 0px;
  top: 0px;
  background: #FFFFFF;
  border-radius: 0px;
  max-width: 1920px; }
  #navbar1 #logo {
    position: absolute;
    left: 19.53%; }
  #navbar1 #call {
    position: absolute;
    left: 45.16%; }
  #navbar1 .text-call {
    position: absolute;
    left: 47.76%; }
  #navbar1 #mail {
    position: absolute;
    left: 58.44%; }
  #navbar1 .text-mail {
    position: absolute;
    left: 61.06%; }
  #navbar1 p {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase; }
  #navbar1 #navbar-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 39px;
    gap: 15px;
    position: absolute;
    width: 199px;
    height: 60px;
    left: 1346px;
    top: 20px;
    background: #FE8C12;
    border-radius: 2px; }
    #navbar1 #navbar-button p {
      font-weight: 700;
      color: #FFFFFF; }

#navbar2 {
  position: absolute;
  align-items: center;
  width: 1170px;
  height: 60px;
  left: 19.51%;
  top: 100px;
  display: flex;
  background: #0A0A0B;
  max-width: 1920px; }
  #navbar2 ul {
    display: flex;
    color: #FFFFFF;
    padding-left: 2.56%;
    gap: 26px; }
    #navbar2 ul .home-bar {
      color: #FE8C12; }
    #navbar2 ul a {
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 700;
      text-transform: uppercase;
      font-size: 14px; }
  #navbar2 #search {
    display: flex;
    position: absolute;
    gap: 10px;
    padding-left: 55.27%;
    align-items: center; }
    #navbar2 #search input[type=text] {
      width: 0;
      border-radius: 4px;
      font-size: 16px;
      background-color: transparent;
      background-image: url("/src/Search-Icon-White.svg");
      background-position: 10px 10px;
      background-repeat: no-repeat;
      padding: 8px 10px 8px 40px;
      transition: 0.3s ease-in-out;
      color: #FFFFFF; }
    #navbar2 #search input[type=text]:focus {
      width: 100%; }
  #navbar2 #sosmed {
    position: absolute;
    display: flex;
    padding-left: 82.9%;
    gap: 10px; }
  #navbar2 li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 24px 16px;
    text-decoration: none; }
  #navbar2 .dropdown {
    display: inline-block; }
  #navbar2 .dropdown-content {
    display: none;
    position: absolute;
    top: 60px;
    left: 0px;
    background-color: #0A0A0B;
    min-width: 140px;
    z-index: 1;
    list-style: none; }
  #navbar2 .dropdown-content a {
    color: White;
    padding: 8px 16px;
    text-decoration: none;
    display: block;
    text-align: left; }
  #navbar2 .dropdown:hover > .dropdown-content {
    display: block; }
    #navbar2 .dropdown:hover > .dropdown-content a:hover {
      color: #FE8C12; }
  #navbar2 .dropdown-content2 {
    display: none;
    position: absolute;
    top: 60px;
    left: 223px;
    background-color: #0A0A0B;
    min-width: 130px;
    z-index: 1;
    list-style: none; }
  #navbar2 .dropdown-content2 a {
    color: White;
    padding: 8px 8px;
    text-decoration: none;
    display: block;
    text-align: left; }
  #navbar2 .dropdown:hover > .dropdown-content2 {
    display: block; }
    #navbar2 .dropdown:hover > .dropdown-content2 a:hover {
      color: #FE8C12; }
  #navbar2 .dropdown-content3 {
    display: none;
    position: absolute;
    top: 60px;
    left: 333px;
    background-color: #0A0A0B;
    min-width: 130px;
    z-index: 1;
    list-style: none; }
  #navbar2 .dropdown-content3 a {
    color: White;
    padding: 8px 8px;
    text-decoration: none;
    display: block;
    text-align: left; }
  #navbar2 .dropdown:hover > .dropdown-content3 {
    display: block; }
    #navbar2 .dropdown:hover > .dropdown-content3 a:hover {
      color: #FE8C12; }

#content1 {
  width: 100%;
  padding-top: 100px; }
  #content1 h1 {
    width: 50%;
    position: absolute;
    left: 375px;
    top: 363px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 90px;
    line-height: 110px;
    color: #FFFFFF; }
  #content1 .text-up {
    position: absolute;
    width: 125px;
    height: 26px;
    left: 375px;
    top: 340px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 26px;
    color: #FE8C12; }
  #content1 .text-bot {
    position: absolute;
    width: 706px;
    height: 71px;
    left: 375px;
    top: 605px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    color: #FFFFFF; }
  #content1 button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 39px;
    gap: 15px;
    position: absolute;
    width: 207px;
    height: 60px;
    left: 375px;
    top: 723px;
    background: #FE8C12;
    border-radius: 2px; }
    #content1 button p {
      text-transform: uppercase;
      color: #FFFFFF;
      font-weight: 700; }
  #content1 .content-image {
    position: absolute;
    width: 60px;
    height: 60px;
    left: 612px;
    top: 723px; }
  #content1 #left {
    position: absolute;
    width: 55px;
    height: 56px;
    left: 89.22%;
    top: 825px; }
  #content1 #right {
    position: absolute;
    width: 55px;
    height: 56px;
    left: 92.62%;
    top: 825px; }

#content2 .img-cont {
  position: absolute;
  padding-top: 120px;
  padding-left: 375px; }
#content2 h1 {
  position: absolute;
  width: 50%;
  padding-left: 425px;
  padding-top: 170px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 48px;
  line-height: 62px;
  color: #0A0A0B; }
#content2 button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 39px;
  gap: 15px;
  position: absolute;
  width: 199px;
  height: 60px;
  left: 425px;
  top: 1371px;
  background: #FE8C12;
  border-radius: 2px; }
  #content2 button p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 28px;
    color: #FFFFFF; }
#content2 .play-button p {
  position: absolute;
  padding-top: 240px;
  width: 132px;
  height: 28px;
  left: 1413px;
  font-family: 'Estonia';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 28px;
  text-transform: uppercase;
  color: #FFFFFF; }
#content2 .play-button img {
  position: absolute;
  padding-top: 308px;
  padding-left: 1429px; }

#content3 {
  display: flex;
  height: 754px;
  max-width: 1920px;
  background-color: #0A0A0B;
  margin-top: 20px; }
  #content3 .isi-content3 h2 {
    position: absolute;
    display: flex;
    align-items: center;
    left: 375px;
    padding-top: 133px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
    color: #FE8C12;
    gap: 10px; }
    #content3 .isi-content3 h2 span {
      display: block;
      width: 60px;
      height: 2px;
      background-color: #FE8C12; }
  #content3 .isi-content3 h1 {
    width: 90%;
    padding-left: 375px;
    padding-top: 160px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 48px;
    line-height: 62px;
    color: #FFFFFF; }
  #content3 .isi-content3 #text-content3 {
    width: 882px;
    padding-left: 375px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #CDCED0; }
  #content3 .isi-content3 .isi2-content3 {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-left: 375px;
    gap: 30px; }
    #content3 .isi-content3 .isi2-content3 p {
      width: 200px;
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 800;
      text-transform: uppercase;
      font-size: 20px;
      line-height: 30px;
      color: #FFFFFF; }
  #content3 .isi-content3 .isi3-content3 {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-left: 375px;
    gap: 30px; }
    #content3 .isi-content3 .isi3-content3 p {
      width: 200px;
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 800;
      text-transform: uppercase;
      font-size: 20px;
      line-height: 30px;
      color: #FFFFFF; }
  #content3 .image-content3 {
    padding-left: 42px; }
    #content3 .image-content3 img {
      height: 100%;
      width: 668px;
      object-fit: cover; }

#footer1 {
  position: absolute;
  width: 1920px;
  height: 212px;
  left: 0px;
  margin-top: 20px;
  background: #0A0A0B; }
  #footer1 h1 {
    position: absolute;
    width: 549px;
    height: 46px;
    left: 375px;
    padding-top: 83px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 36px;
    line-height: 46px;
    color: #FFFFFF; }
  #footer1 button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 40px;
    gap: 15px;
    position: absolute;
    width: 208px;
    height: 60px;
    left: 1337px;
    top: 76px;
    background: #FFFFFF;
    border-radius: 4px; }
    #footer1 button p {
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 700;
      text-transform: uppercase;
      font-size: 16px;
      color: #0A0A0B; }

#footer2 {
  display: flex;
  position: absolute;
  width: 1920px;
  height: 642px;
  left: 0px;
  margin-top: 95px;
  background-image: url(/src/Background-footer.svg); }
  #footer2 h1 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 30px;
    color: #0A0A0B; }
  #footer2 .isi1 img {
    position: absolute;
    width: 163px;
    height: 46px;
    left: 375px;
    top: 191px; }
  #footer2 .isi1 p {
    position: absolute;
    width: 255px;
    height: 100px;
    left: 375px;
    top: 257px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #353B44; }
  #footer2 .isi1 .social-media .fb {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 195px; }
  #footer2 .isi1 .social-media .tw {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 60px;
    top: 195px; }
  #footer2 .isi1 .social-media .ig {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 120px;
    top: 195px; }
  #footer2 .isi1 .social-media .li {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 180px;
    top: 195px; }
  #footer2 .isi2 {
    position: absolute;
    top: 191px;
    left: 675px; }
    #footer2 .isi2 .link {
      display: flex;
      padding-top: 12px;
      column-gap: 25px; }
      #footer2 .isi2 .link li {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 45px;
        text-transform: uppercase;
        color: #0A0A0B; }
  #footer2 .isi3 {
    position: absolute;
    top: 191px;
    left: 975px; }
    #footer2 .isi3 .recentpost1 {
      display: flex;
      padding-top: 30px; }
      #footer2 .isi3 .recentpost1 .recentpost-text {
        padding-left: 20px;
        width: 60%; }
        #footer2 .isi3 .recentpost1 .recentpost-text p {
          font-family: 'Open Sans';
          font-style: normal;
          font-weight: 800;
          text-transform: uppercase;
          font-size: 14px;
          line-height: 24px;
          color: #0A0A0B; }
        #footer2 .isi3 .recentpost1 .recentpost-text .date {
          display: flex;
          padding-left: 3px;
          gap: 15px; }
          #footer2 .isi3 .recentpost1 .recentpost-text .date p {
            font-size: 12px;
            color: #686C73; }
          #footer2 .isi3 .recentpost1 .recentpost-text .date img {
            padding-top: 4px;
            height: 100%; }
  #footer2 .isi4 {
    position: absolute;
    top: 191px;
    left: 1275px; }
    #footer2 .isi4 .information-content1 {
      align-items: center;
      display: flex;
      gap: 20px;
      padding-top: 30px; }
    #footer2 .isi4 .information-content2 {
      align-items: center;
      display: flex;
      gap: 20px;
      padding-top: 30px; }
    #footer2 .isi4 .information-content3 {
      align-items: center;
      display: flex;
      gap: 20px;
      padding-top: 30px;
      padding-left: 2px; }
      #footer2 .isi4 .information-content3 p {
        width: 200px; }
    #footer2 .isi4 p {
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 24px;
      color: #0A0A0B; }

#footer3 {
  display: flex;
  position: absolute;
  left: 375px;
  padding-top: 700px; }
  #footer3 p {
    width: 400px;
    position: absolute;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 24px;
    color: #0A0A0B; }
  #footer3 .navfooter {
    display: flex;
    gap: 25px;
    padding-left: 819px;
    align-items: center;
    border-top: 1px #0A0A0B; }
    #footer3 .navfooter a {
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 700;
      text-transform: uppercase;
      font-size: 14px;
      line-height: 24px;
      color: #0A0A0B; }
    #footer3 .navfooter span {
      display: block;
      background-color: black;
      width: 2px;
      height: 18px; }

/*# sourceMappingURL=style.css.map */
