@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Estonia&family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css");
.text1 {
  font-size: 10px;
}

.text2 {
  font-size: 16px;
  font-weight: 700;
}

#navbar1 {
  position: absolute;
  width: 100%;
  height: 100px;
  background: #FFFFFF;
}
#navbar1 #content {
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-left: 19.53%;
}
#navbar1 #content #call {
  padding-left: 17.18%;
}
#navbar1 #content .text-call {
  padding-left: 15px;
}
#navbar1 #content .batas {
  padding-left: 40px;
}
#navbar1 #content .batas span {
  display: block;
  width: 1px;
  height: 40px;
  background: #E6E7E8;
}
#navbar1 #content #mail {
  padding-left: 40px;
}
#navbar1 #content .text-mail {
  padding-left: 15px;
}
#navbar1 #content p {
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
}
#navbar1 #content #navbar-button {
  position: absolute;
  right: 19.53%;
}
#navbar1 #content #navbar-button button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 39px;
  gap: 15px;
  width: 199px;
  height: 60px;
  top: 20px;
  background: #FE8C12;
  border-radius: 2px;
}
#navbar1 #content #navbar-button button p {
  font-weight: 700;
  color: #FFFFFF;
}

#navbar2 {
  position: absolute;
  align-items: center;
  width: 60.93%;
  max-width: 1920px;
  left: 19.51%;
  top: 100px;
  display: flex;
  background: #0A0A0B;
}
#navbar2 #logo {
  display: none;
}
#navbar2 #logo p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 46px;
  text-transform: lowercase;
  color: #FFFFFF;
}
#navbar2 #content {
  display: flex;
}
#navbar2 #content ul {
  display: flex;
  color: #FFFFFF;
  padding-left: 10px;
  gap: 0px;
}
#navbar2 #content ul .home-bar {
  color: #FE8C12;
}
#navbar2 #content ul a {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
}
#navbar2 #content #search {
  gap: 10px;
  align-items: center;
  padding-top: 17px;
}
#navbar2 #content #search input[type=text] {
  width: 0;
  border-radius: 4px;
  font-size: 16px;
  background-color: transparent;
  background-image: url("/src/Search-Icon-White.svg");
  background-position: 6px 6px;
  background-repeat: no-repeat;
  padding: 4px 6px 4px 30px;
  transition: 0.3s ease-in-out;
  color: #FFFFFF;
}
#navbar2 #content #search input[type=text]:focus {
  width: 100%;
}
#navbar2 #content #sosmed {
  align-items: center;
  position: absolute;
  display: flex;
  gap: 12px;
  right: 20px;
  top: 17px;
  padding-left: 20px;
}
#navbar2 #content #sosmed .garis {
  padding-right: 20px;
}
#navbar2 #content #sosmed .garis span {
  display: block;
  width: 1px;
  height: 30px;
  background: #f1f1f1;
  opacity: 0.2;
}
#navbar2 #content li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 24px 16px;
  text-decoration: none;
}
#navbar2 #content .dropdown {
  display: inline-block;
}
#navbar2 #content .dropdown-content {
  display: none;
  position: absolute;
  top: 60px;
  left: 0px;
  background-color: #0A0A0B;
  min-width: 110px;
  z-index: 1;
  list-style: none;
}
#navbar2 #content .dropdown-content a {
  color: White;
  padding: 8px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
#navbar2 #content .dropdown:hover > .dropdown-content {
  display: block;
}
#navbar2 #content .dropdown:hover > .dropdown-content a:hover {
  color: #FE8C12;
}
#navbar2 #content .dropdown-content2 {
  display: none;
  position: absolute;
  top: 60px;
  left: 170px;
  background-color: #0A0A0B;
  min-width: 94px;
  z-index: 1;
  list-style: none;
}
#navbar2 #content .dropdown-content2 a {
  color: White;
  padding: 10px 10px;
  text-decoration: none;
  display: block;
  text-align: left;
}
#navbar2 #content .dropdown:hover > .dropdown-content2 {
  display: block;
}
#navbar2 #content .dropdown:hover > .dropdown-content2 a:hover {
  color: #FE8C12;
}
#navbar2 #content .dropdown-content3 {
  display: none;
  position: absolute;
  top: 60px;
  left: 250px;
  background-color: #0A0A0B;
  min-width: 100px;
  z-index: 1;
  list-style: none;
}
#navbar2 #content .dropdown-content3 a {
  color: White;
  padding: 10px 14px;
  text-decoration: none;
  display: block;
  text-align: left;
}
#navbar2 #content .dropdown:hover > .dropdown-content3 {
  display: block;
}
#navbar2 #content .dropdown:hover > .dropdown-content3 a:hover {
  color: #FE8C12;
}
#navbar2 #mobile-button {
  display: none;
}

#content1 {
  width: 100%;
  padding-top: 100px;
  margin-bottom: 10px;
}
#content1 .slideshow-container img {
  width: 100%;
  max-width: 1920px;
  height: 100%;
  max-height: 863px;
}
#content1 #content h1 {
  width: 50%;
  position: absolute;
  left: 375px;
  top: 363px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 90px;
  line-height: 110px;
  color: #FFFFFF;
}
#content1 #content .text-up {
  position: absolute;
  width: 125px;
  height: 26px;
  left: 375px;
  top: 340px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 26px;
  color: #FE8C12;
}
#content1 #content .text-bot {
  position: absolute;
  width: 706px;
  height: 71px;
  left: 375px;
  top: 605px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  color: #FFFFFF;
}
#content1 #content button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 39px;
  gap: 15px;
  position: absolute;
  width: 207px;
  height: 60px;
  left: 375px;
  top: 723px;
  background: #FE8C12;
  border-radius: 2px;
}
#content1 #content button p {
  text-transform: uppercase;
  color: #FFFFFF;
  font-weight: 700;
}
#content1 #content .content-image {
  position: absolute;
  width: 60px;
  height: 60px;
  left: 612px;
  top: 723px;
}
#content1 #button {
  display: flex;
  gap: 10px;
  position: absolute;
  padding-left: 89%;
  top: 807px;
}
#content2 {
  display: flex;
  width: 100%;
  max-width: 1920px;
  height: 648px;
  background-image: url("/src/content-images/pexels-francesco-ungaro-2835436.jpg");
  background-position: -500px -1000px;
  padding-top: 6.25%;
}
#content2 #box-content {
  width: 654px;
  height: 408px;
  background-image: url("/src/content-BG.svg");
  top: 120px;
}
#content2 #box-content h1 {
  margin: 50px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 48px;
  line-height: 62px;
  color: #0A0A0B;
}
#content2 #box-content button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 39px;
  gap: 15px;
  margin-left: 50px;
  background: #FE8C12;
  border-radius: 2px;
}
#content2 #box-content button p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 28px;
  color: #FFFFFF;
}
#content2 .play-button p {
  position: absolute;
  padding-top: 120px;
  width: 132px;
  height: 28px;
  font-family: "Estonia";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 28px;
  text-transform: uppercase;
  color: #FFFFFF;
}
#content2 .play-button img {
  padding-top: 185px;
  padding-left: 20px;
}

#content3 {
  display: flex;
  width: 100%;
  max-width: 1920px;
  height: 754px;
  background-color: #0A0A0B;
  margin-top: 20px;
}
#content3 .isi-content3 {
  width: 805px;
  padding-top: 120px;
}
#content3 .isi-content3 h2 {
  display: flex;
  align-items: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
  color: #FE8C12;
  gap: 10px;
}
#content3 .isi-content3 h2 span {
  display: block;
  width: 60px;
  height: 2px;
  background-color: #FE8C12;
}
#content3 .isi-content3 h1 {
  width: 90%;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 48px;
  line-height: 62px;
  color: #FFFFFF;
}
#content3 .isi-content3 #text-content3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #CDCED0;
}
#content3 .isi-content3 .isi2-content3 {
  display: flex;
  align-items: center;
  padding-top: 40px;
  gap: 30px;
}
#content3 .isi-content3 .isi2-content3 p {
  width: 200px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 30px;
  color: #FFFFFF;
}
#content3 .isi-content3 .isi3-content3 {
  display: flex;
  align-items: center;
  padding-top: 40px;
  gap: 30px;
}
#content3 .isi-content3 .isi3-content3 p {
  width: 200px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 30px;
  color: #FFFFFF;
}
#content3 .image-content3 img {
  height: 100%;
  width: 668px;
  object-fit: cover;
}

#footer1 {
  position: absolute;
  width: 100%;
  max-width: 1920px;
  height: 212px;
  left: 0px;
  margin-top: 20px;
  background: #0A0A0B;
}
#footer1 h1 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 36px;
  line-height: 46px;
  color: #FFFFFF;
}
#footer1 button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 40px;
  gap: 15px;
  height: 60px;
  background: #FFFFFF;
  border-radius: 4px;
}
#footer1 button p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 16px;
  color: #0A0A0B;
}

#footer2 {
  display: flex;
  position: absolute;
  width: 100%;
  max-width: 1920px;
  height: 642px;
  margin-top: 95px;
  background-image: url(/src/Background-footer.svg);
}
#footer2 h1 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 30px;
  color: #0A0A0B;
}
#footer2 #content .isi1 p {
  padding-top: 20px;
  width: 255px;
  height: 100px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #353B44;
}
#footer2 #content .isi1 .social-media {
  padding-top: 50px;
  display: flex;
  gap: 10px;
}
#footer2 #content .isi2 {
  padding-left: 4%;
}
#footer2 #content .isi2 .link {
  display: flex;
  padding-top: 12px;
  column-gap: 25px;
}
#footer2 #content .isi2 .link li {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 45px;
  text-transform: uppercase;
  color: #0A0A0B;
}
#footer2 #content .isi3 {
  padding-left: 5%;
}
#footer2 #content .isi3 .recentpost1 {
  display: flex;
  padding-top: 30px;
}
#footer2 #content .isi3 .recentpost1 .recentpost-text {
  padding-left: 20px;
}
#footer2 #content .isi3 .recentpost1 .recentpost-text p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  text-transform: uppercase;
  width: 180px;
  font-size: 14px;
  line-height: 24px;
  color: #0A0A0B;
}
#footer2 #content .isi3 .recentpost1 .recentpost-text .date {
  display: flex;
  padding-left: 3px;
  gap: 15px;
}
#footer2 #content .isi3 .recentpost1 .recentpost-text .date p {
  font-size: 12px;
  color: #686C73;
}
#footer2 #content .isi3 .recentpost1 .recentpost-text .date img {
  padding-top: 4px;
  height: 100%;
}
#footer2 #content .isi4 {
  padding-left: 8%;
}
#footer2 #content .isi4 .information-content1 {
  align-items: center;
  display: flex;
  gap: 20px;
  padding-top: 30px;
}
#footer2 #content .isi4 .information-content2 {
  align-items: center;
  display: flex;
  gap: 20px;
  padding-top: 30px;
}
#footer2 #content .isi4 .information-content3 {
  align-items: center;
  display: flex;
  gap: 20px;
  padding-top: 30px;
  padding-left: 3px;
}
#footer2 #content .isi4 .information-content3 p {
  padding-left: 2px;
  width: 200px;
}
#footer2 #content .isi4 p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #0A0A0B;
}

#footer3 {
  width: 100%;
  max-width: 1920px;
}
#footer3 #content p {
  width: 400px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 24px;
  color: #0A0A0B;
}
#footer3 #content .navfooter {
  padding-left: 300px;
  display: flex;
  gap: 25px;
  align-items: center;
}
#footer3 #content .navfooter a {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 24px;
  color: #0A0A0B;
}
#footer3 #content .navfooter span {
  display: block;
  background-color: rgb(0, 0, 0);
  width: 2px;
  height: 18px;
}

@media screen and (min-width: 1621px) {
  #content2 {
    padding-left: 19.53%;
  }
  #content2 .play-button {
    padding-left: 28%;
  }
  #content3 .isi-content3 {
    padding-left: 19.53%;
  }
  #content3 .image-content3 {
    padding-left: 23.5%;
  }
  #footer1 {
    position: absolute;
    width: 100%;
    max-width: 1920px;
    height: 212px;
    left: 0px;
    margin-top: 20px;
    background: #0A0A0B;
  }
  #footer1 h1 {
    position: absolute;
    left: 19.53%;
    padding-top: 83px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 36px;
    line-height: 46px;
    color: #FFFFFF;
  }
  #footer1 button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 40px;
    gap: 15px;
    position: absolute;
    height: 60px;
    right: 19.53%;
    top: 76px;
    background: #FFFFFF;
    border-radius: 4px;
  }
  #footer1 button p {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 16px;
    color: #0A0A0B;
  }
  #footer2 #content {
    display: flex;
    padding-left: 22.53%;
    padding-top: 13.947%;
  }
  #footer3 #content {
    position: absolute;
    padding-top: 700px;
    display: flex;
    left: 22.53%;
  }
}
@media screen and (max-width: 1620px) {
  #navbar1 #content {
    padding-left: 15.53%;
  }
  #navbar1 #content #navbar-button {
    right: 15.53%;
  }
  #content1 #content h1 {
    left: 15.53%;
  }
  #content1 #content .text-up {
    left: 15.53%;
  }
  #content1 #content .text-bot {
    left: 15.53%;
  }
  #content1 #content button {
    left: 15.53%;
  }
  #content1 #content .content-image {
    left: 31%;
  }
  #content1 #button {
    padding-left: 85%;
  }
  #content2 {
    padding-left: 15.53%;
  }
  #content2 .play-button {
    padding-left: 20%;
  }
  #content3 .isi-content3 {
    padding-left: 15.53%;
  }
  #content3 .image-content3 {
    padding-left: 7.5%;
  }
  #footer1 {
    position: absolute;
    width: 100%;
    max-width: 1920px;
    height: 212px;
    left: 0px;
    margin-top: 20px;
    background: #0A0A0B;
  }
  #footer1 h1 {
    position: absolute;
    left: 15.53%;
    padding-top: 83px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 36px;
    line-height: 46px;
    color: #FFFFFF;
  }
  #footer1 button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 40px;
    gap: 15px;
    position: absolute;
    height: 60px;
    right: 16.53%;
    top: 76px;
    background: #FFFFFF;
    border-radius: 4px;
  }
  #footer1 button p {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 16px;
    color: #0A0A0B;
  }
  #footer2 #content {
    display: flex;
    padding-left: 15.53%;
    padding-top: 13.947%;
  }
  #footer3 #content {
    position: absolute;
    padding-top: 700px;
    display: flex;
    left: 15.53%;
  }
}
@media screen and (max-width: 911px) {
  #navbar1 #content {
    padding-left: 5%;
  }
  #navbar1 #navbar-button {
    display: none;
  }
  #navbar2 {
    width: 100%;
    left: 0%;
  }
  #content1 #content h1 {
    width: 80%;
    font-size: 70px;
    top: 220px;
    left: 8%;
    line-height: 101px;
  }
  #content1 #content .text-up {
    top: 210px;
    left: 8%;
  }
  #content1 #content .text-bot {
    top: 420px;
    left: 8%;
  }
  #content1 #content button {
    top: 510px;
    left: 8%;
  }
  #content1 #content .content-image {
    left: 36%;
    top: 510px;
  }
  #content1 #button {
    top: 510px;
    padding-left: 79%;
  }
  #content2 {
    padding-left: 5.53%;
    padding-top: 15%;
  }
  #content2 #box-content {
    width: 554px;
    height: 388px;
  }
  #content2 #box-content h1 {
    font-size: 38px;
  }
  #content2 .play-button {
    padding-left: 7%;
  }
  #content3 {
    height: 500px;
  }
  #content3 .isi-content3 {
    padding-top: 50px;
    margin-left: -50px;
  }
  #content3 .isi-content3 h2 {
    font-size: 15px;
    line-height: 20px;
  }
  #content3 .isi-content3 h1 {
    width: 100%;
    font-size: 33px;
    line-height: 50px;
  }
  #content3 .isi-content3 #text-content3 {
    font-size: 12px;
  }
  #content3 .isi-content3 .isi2-content3 {
    padding-top: 20px;
  }
  #content3 .isi-content3 .isi2-content3 img {
    width: 70px;
  }
  #content3 .isi-content3 .isi2-content3 p {
    font-size: 14px;
  }
  #content3 .isi-content3 .isi3-content3 {
    padding-top: 20px;
  }
  #content3 .isi-content3 .isi3-content3 img {
    width: 70px;
  }
  #content3 .isi-content3 .isi3-content3 p {
    font-size: 14px;
  }
  #footer1 {
    height: 150px;
  }
  #footer1 h1 {
    left: 5%;
    padding-top: 24px;
    font-size: 28px;
  }
  #footer1 button {
    right: 8%;
    top: 42px;
  }
  #footer2 {
    height: 170px;
  }
  #footer2 #content {
    display: none;
  }
  #footer3 #content {
    position: absolute;
    padding-top: 220px;
    display: flex;
    left: 35px;
  }
  #footer3 #content .navfooter {
    padding-left: 0;
  }
}
@media screen and (max-width: 430px) {
  body {
    overflow-x: hidden;
  }
  #navbar1 {
    display: none;
  }
  #navbar2 {
    top: 0px;
    height: 50px;
  }
  #navbar2 #logo {
    display: flex;
    width: 110px;
    padding-left: 20px;
  }
  #navbar2 #logo p {
    margin-left: -61px;
    font-size: 16px;
  }
  #navbar2 #content {
    display: none;
  }
  #navbar2 #mobile-button {
    position: absolute;
    right: 20px;
    display: block;
    padding-top: 6px;
  }
  #navbar2 #mobile-button .cekbox {
    position: absolute;
    width: 22px;
    height: 22px;
    margin-top: -4px;
    margin-left: -1px;
    opacity: 0;
  }
  #navbar2 #mobile-button span {
    display: block;
    width: 20px;
    height: 2px;
    background: #E6E7E8;
    margin-bottom: 4px;
  }
  #navbar2 #mobile-button span {
    transition: all 0.75s;
    -webkit-transition: all 0.75s;
    -moz-transition: all 0.75s;
    -ms-transition: all 0.75s;
    -o-transition: all 0.75s;
  }
  #navbar2 #mobile-button span:nth-child(2) {
    transform-origin: 0 0;
  }
  #navbar2 #mobile-button span:nth-child(4) {
    transform-origin: 0 0;
  }
  #navbar2 #mobile-button input:checked ~ span:nth-child(2) {
    background-color: #dfdfdf;
    transform: rotate(45deg) translate(3px, -3px);
    -webkit-transform: rotate(45deg) translate(3px, -3px);
    -moz-transform: rotate(45deg) translate(3px, -3px);
    -ms-transform: rotate(45deg) translate(3px, -3px);
    -o-transform: rotate(45deg) translate(3px, -3px);
  }
  #navbar2 #mobile-button input:checked ~ span:last-child {
    background-color: #dfdfdf;
    transform: rotate(-45deg) translate(0px, 3.5px);
    -webkit-transform: rotate(-45deg) translate(0px, 3.5px);
    -moz-transform: rotate(-45deg) translate(0px, 3.5px);
    -ms-transform: rotate(-45deg) translate(0px, 3.5px);
    -o-transform: rotate(-45deg) translate(0px, 3.5px);
  }
  #navbar2 #mobile-button input:checked ~ span:nth-child(3) {
    opacity: 0;
  }
  #content1 {
    padding-top: 50px;
    width: 100%;
    height: 300px;
  }
  #content1 #content .text-up {
    top: 100px;
    font-size: 12px;
    padding-left: 10px;
  }
  #content1 #content h1 {
    top: 120px;
    font-size: 35px;
    line-height: 45px;
    padding-left: 10px;
  }
  #content1 #content .text-bot {
    top: 210px;
    left: 34px;
    font-size: 11px;
    width: 300px;
    line-height: 15px;
    padding-left: 10px;
  }
  #content1 #content button {
    display: none;
  }
  #content1 #content .content-image {
    display: none;
  }
  #content1 #button {
    top: 250px;
    padding-left: 300px;
    gap: 3px;
  }
  #content1 #button #left {
    position: absolute;
    top: -80px;
    left: 5px;
    width: 30px;
    height: 30px;
  }
  #content1 #button #right {
    position: absolute;
    right: -118px;
    top: -80px;
    width: 30px;
    height: 30px;
  }
  #content2 {
    background-size: 500px;
    padding-top: 45px;
    height: 260px;
  }
  #content2 #box-content {
    width: 240px;
    height: 170px;
    background-size: cover;
  }
  #content2 #box-content h1 {
    padding-top: 5px;
    font-size: 20px;
    line-height: 25px;
    margin: 15px;
  }
  #content2 #box-content button {
    padding: 8px 20px;
    gap: 7px;
  }
  #content2 #box-content button p {
    font-size: 12px;
    line-height: 20px;
  }
  #content2 #box-content button img {
    width: 8px;
    height: 8px;
  }
  #content2 .play-button p {
    font-size: 18px;
    padding-top: 40px;
    color: rgba(0, 0, 0, 0.7);
  }
  #content2 .play-button img {
    width: 60px;
    padding-top: 75px;
    padding-left: 15px;
    margin-right: 10px;
  }
  #content3 {
    margin-top: 0;
    height: 250px;
  }
  #content3 .isi-content3 {
    padding-top: 20px;
  }
  #content3 .isi-content3 h2 {
    font-size: 10px;
    gap: 5px;
  }
  #content3 .isi-content3 h2 span {
    width: 25px;
    height: 1px;
  }
  #content3 .isi-content3 h1 {
    width: 100%;
    font-size: 20px;
    line-height: 32px;
    margin-top: -5px;
  }
  #content3 .isi-content3 #text-content3 {
    font-size: 6px;
    line-height: 9px;
  }
  #content3 .isi-content3 .isi2-content3 {
    padding-top: 10px;
    gap: 10px;
  }
  #content3 .isi-content3 .isi2-content3 p {
    width: 100px;
    font-size: 8px;
    line-height: 12px;
  }
  #content3 .isi-content3 .isi2-content3 img {
    width: 40px;
  }
  #content3 .isi-content3 .isi3-content3 {
    padding-top: 10px;
    gap: 10px;
  }
  #content3 .isi-content3 .isi3-content3 p {
    width: 100px;
    font-size: 8px;
    line-height: 12px;
  }
  #content3 .isi-content3 .isi3-content3 img {
    width: 40px;
  }
  #content3 .image-content3 {
    width: 500px;
  }
  #footer1 {
    height: 80px;
    margin-top: 5px;
  }
  #footer1 h1 {
    font-size: 14px;
    line-height: 18px;
    margin-top: -17px;
  }
  #footer1 button {
    padding: 8px 8px;
    height: auto;
    gap: 6px;
    margin-top: -17px;
  }
  #footer1 button p {
    font-size: 10px;
  }
  #footer1 button img {
    width: 9px;
  }
  #footer2 {
    margin-top: 10px;
    height: 110px;
    padding-top: 0;
  }
  #footer3 #content {
    margin-left: -20px;
    padding-top: 97px;
    width: 100%;
  }
  #footer3 #content p {
    font-size: 8px;
    line-height: 10px;
    width: auto;
  }
  #footer3 #content .navfooter {
    position: absolute;
    right: 7%;
    gap: 8px;
  }
  #footer3 #content .navfooter a {
    font-size: 8px;
    line-height: 10px;
  }
  #footer3 #content .navfooter span {
    height: 9px;
    width: 1px;
  }
  #navbar2 content ul {
    display: flex;
    position: absolute;
    flex-direction: column;
    list-style: none;
    top: -18px;
    right: 0;
    row-gap: 30px;
    background-color: #1e1e1e;
    width: 60%;
    height: 100vh;
    padding: 50px 0px;
    transform: translate(100%);
    -webkit-transform: translate(100%);
    -moz-transform: translate(100%);
    -ms-transform: translate(100%);
    -o-transform: translate(100%);
    transition: all 0.75s;
    -webkit-transition: all 0.75s;
    -moz-transition: all 0.75s;
    -ms-transition: all 0.75s;
    -o-transition: all 0.75s;
  }
  #navbar2 content .slide {
    transform: translate(0%);
    -webkit-transform: translate(0%);
    -moz-transform: translate(0%);
    -ms-transform: translate(0%);
    -o-transform: translate(0%);
  }
}

/*# sourceMappingURL=style.css.map */
