@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Estonia&family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css");

@mixin Open-Sans-700 {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
}

@mixin Open-Sans-800 {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  text-transform: uppercase;
}

@mixin Roboto-400 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
}

@mixin Estonia-400 {
  font-family: 'Estonia';
  font-style: normal;
  font-weight: 400;
}

@mixin Roboto-500 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
}

@mixin subnav-layer-style {
  display: none;
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 1;
  a {
      float: left;
      color: black;
      text-decoration: none;
  }
  a:hover {
      background-color: #eee;
      color: black;
  }
}

.text1 {
  font-size: 10px;
}
.text2 {
  font-size: 16px;
  font-weight: 700;
}

#navbar1 {
  position: absolute;
  width: 100%;
  height: 100px;
  background: #FFFFFF;
  #content {
    display: flex;
    align-items: center;
    padding-top: 20px;
    #logo {
      padding-left: 19.53%;
    }
    #call {
      padding-left: 17.18%;;
    }
    .text-call {
      padding-left: 15px;
    }
    .batas {
      padding-left: 40px;
      span {
        display: block;
        width: 1px;
        height: 40px;
        background: #E6E7E8;
      }
    }
    #mail {
      padding-left: 40px;
    }
    .text-mail {
      padding-left: 15px;
      padding-right: 50px;
    }
    p {
      font-family: 'Open Sans', sans-serif;
      text-transform: uppercase;
    }
    #navbar-button {
      padding-right: 19.53%;
      button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 16px 39px;
        gap: 15px;
        width: 199px;
        height: 60px;
        top: 20px;
        background: #FE8C12;
        border-radius: 2px;
        p {
          font-weight: 700;
          color: #FFFFFF;
        }
      } 
    }
  }
}
#navbar2 {
  position: absolute;
  align-items: center;
  width: 60.93%;
  max-width: 1920px;
  left: 19.51%;
  top: 100px;
  display: flex;
  background: #0A0A0B;
  #content {
    display: flex;
    ul {
      display: flex;
      color: #FFFFFF;
      padding-left: 10px;
      gap: 0px;
      .home-bar {
          color: #FE8C12;
      }
      a {
        @include Open-Sans-700();
        font-size: 14px;
      }
    }
   
    #search {
      gap: 10px;
      align-items: center;
      padding-top: 17px;
      input[type=text] {
        width: 0;
        border-radius: 4px;
        font-size: 16px;
        background-color: transparent;
        background-image: url('/src/Search-Icon-White.svg');
        background-position: 6px 6px; 
        background-repeat: no-repeat;
        padding: 4px 6px 4px 30px;
        transition: 0.3s ease-in-out;
        color: #FFFFFF;
      }
      
      input[type=text]:focus {
        width: 100%;
      }
    }
  
    #sosmed {
      align-items: center;
      position: absolute;
      display: flex;
      gap: 12px;
      right: 20px;
      top: 17px;
      padding-left: 20px;
      .garis {
        padding-right: 20px;
        span {
          display: block;
          width: 1px;
          height: 30px;
          background: #f1f1f1;
          opacity: 0.2;
        }
      }
    }
    li a {
      display: inline-block;
      color: white;
      text-align: center;
      padding: 24px 16px;
      text-decoration: none;
    }
  
    .dropdown {
      display: inline-block;
    }
  
    .dropdown-content {
      display: none;
      position: absolute;
      top: 60px;
      left: 0px;
      background-color: #0A0A0B;
      min-width: 110px;
      z-index: 1;
      list-style: none;
    }
  
    .dropdown-content a {
      color: White;
      padding: 8px 16px;
      text-decoration: none;
      display: block;
      text-align: left;
    }
  
    .dropdown:hover > .dropdown-content {
      display: block;
      a:hover {
        color: #FE8C12;
      }
    }
  
    .dropdown-content2 {
      display: none;
      position: absolute;
      top: 60px;
      left: 170px;
      background-color: #0A0A0B;
      min-width: 94px;
      z-index: 1;
      list-style: none;
    }
  
    .dropdown-content2 a {
      color: White;
      padding: 10px 10px;
      text-decoration: none;
      display: block;
      text-align: left;
    }
  
    .dropdown:hover > .dropdown-content2 {
      display: block;
      a:hover {
        color: #FE8C12;
      }
    }
  
    .dropdown-content3 {
      display: none;
      position: absolute;
      top: 60px;
      left: 250px;
      background-color: #0A0A0B;
      min-width: 100px;
      z-index: 1;
      list-style: none;
    }
  
    .dropdown-content3 a {
      color: White;
      padding: 10px 14px;
      text-decoration: none;
      display: block;
      text-align: left;
    }
  
    .dropdown:hover > .dropdown-content3 {
      display: block;
      a:hover {
        color: #FE8C12;
      }
    }
  }
}

#content1 {
  width: 100%;
  padding-top: 100px;
  margin-bottom: 10px;
  h1 {
    width: 50%;
    position: absolute;
    left: 375px;
    top: 363px;
    @include Open-Sans-800();
    font-size: 90px;
    line-height: 110px;
    color: #FFFFFF;
  }
  .text-up {
    position: absolute;
    width: 125px;
    height: 26px;
    left: 375px;
    top: 340px;
    @include Open-Sans-700();
    font-size: 16px;
    line-height: 26px;
    color: #FE8C12;
  }
  .text-bot {
    position: absolute;
    width: 706px;
    height: 71px;
    left: 375px;
    top: 605px;
    @include Roboto-400();
    font-size: 24px;
    line-height: 34px; 
    color: #FFFFFF;
  }
  button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 39px;
    gap: 15px;
    position: absolute;
    width: 207px;
    height: 60px;
    left: 375px;
    top: 723px;
    background: #FE8C12;
    border-radius: 2px;
    p {
      text-transform: uppercase;
      color: #FFFFFF;
      font-weight: 700;
    }
  }
  .content-image {
    position: absolute;
    width: 60px;
    height: 60px;
    left: 612px;
    top: 723px;
  }
  #button {
    display: flex;
    gap: 10px;
    position: absolute;
    padding-left: 89%;
    top: 807px;
    #left {
    }
    #right {
    }
  }
  
} 

#content2 {
  display: flex;
  width: 100%;
  max-width: 1920px;
  height: 648px;
  background-image: url("/src/content-images/pexels-francesco-ungaro-2835436.jpg");
  background-position:-500px -1000px;
  padding-left: 19.53%;
  padding-top: 6.25%;
  #box-content {
    width: 654px;
    height: 408px;
    background-image: url("/src/content-BG.svg");
    top: 120px;
    left: 19.53%;
    h1 {
      margin: 50px;
      @include Open-Sans-800();
      font-size: 48px;
      line-height: 62px;
      color: #0A0A0B;
    }
    button {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 16px 39px;
      gap: 15px;
      margin-left: 50px;
      background: #FE8C12;
      border-radius: 2px;
      p {
        @include Open-Sans-700();
        font-size: 16px;
        line-height: 28px;
        color: #FFFFFF;
      }
    }
  }
  
  .play-button {
    padding-left: 20%;
    p {
      position: absolute;
      padding-top: 120px;
      width: 132px;
      height: 28px;
      @include Estonia-400();
      font-size: 30px;
      line-height: 28px;
      text-transform: uppercase;
      color: #FFFFFF;
    }
    img {
      padding-top: 185px;
      padding-left: 20px;
    }
  }
}

#content3 {
  display: flex;
  width: 100%;
  max-width: 1920px;
  height: 754px;
  background-color: #0A0A0B;
  margin-top: 20px;
  .isi-content3 {
    h2 {
      position: absolute;
      display: flex;
      align-items: center;
      left: 375px;
      padding-top: 133px;
      @include Roboto-500();
      font-size: 20px;
      line-height: 30px;
      text-transform: uppercase;
      color: #FE8C12;
      gap: 10px;
      span {
        display: block;
        width: 60px;
        height: 2px;
        background-color: #FE8C12;
      }
    }
    h1 {
      width: 90%;
      padding-left: 375px;
      padding-top: 160px;
      @include Open-Sans-800();
      font-size: 48px;
      line-height: 62px;
      color: #FFFFFF;
    }
    #text-content3 {
      width: 882px;
      padding-left: 375px;
      @include Roboto-400();
      font-size: 16px;
      line-height: 26px;
      color: #CDCED0;
    }
    .isi2-content3 {
      display: flex;
      align-items: center;
      padding-top: 40px;
      padding-left: 375px;
      gap: 30px;
      p {
        width: 200px;
        @include Open-Sans-800();
        font-size: 20px;
        line-height: 30px;
        color: #FFFFFF;
      }
    }
    .isi3-content3 {
      display: flex;
      align-items: center;
      padding-top: 40px;
      padding-left: 375px;
      gap: 30px;
      p {
        width: 200px;
        @include Open-Sans-800();
        font-size: 20px;
        line-height: 30px;
        color: #FFFFFF;
      }
    }
  }
  .image-content3 {
    padding-left: 42px;
    img {
      height: 100%;
      width: 668px;
      object-fit: cover;
    }
  }
}

#footer1 {
  position: absolute;
  width: 100%;
  max-width: 1920px;
  height: 212px;
  left: 0px;
  margin-top: 20px;
  background: #0A0A0B;
  h1 {
    position: absolute;
    width: 549px;
    height: 46px;
    left: 19.53%;
    padding-top: 83px;
    @include Open-Sans-800();
    font-size: 36px;
    line-height: 46px;

    color: #FFFFFF;
  }
  button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 40px;
    gap: 15px;
    position: absolute;
    width: 208px;
    height: 60px;
    right: 19.53%;
    top: 76px;
    background: #FFFFFF;
    border-radius: 4px;
    p {
      @include Open-Sans-700();
      font-size: 16px;
      color: #0A0A0B;
    }
  }
}

#footer2 {
  display: flex;
  position: absolute;
  width: 100%;
  max-width: 1920px;
  height: 642px;
  margin-top: 95px;
  background-image: url(/src/Background-footer.svg);
  h1 {
    @include Open-Sans-800();
    font-size: 20px;
    line-height: 30px;
    color: #0A0A0B;
  }
  #content {
    display: flex ;
    padding-left: 19.53%;
    padding-top: 13.947%;
    .isi1 { 
      p {
        padding-top: 20px;
        width: 255px;
        height: 100px;
        @include Roboto-400();
        font-size: 16px;
        line-height: 26px;
        color: #353B44;
      }
      .social-media {
        padding-top: 50px;
        display: flex;
        gap: 10px;
      }
    }
    .isi2 {
      padding-left: 4%;
      .link {
        display: flex;
        padding-top: 12px;
        column-gap: 25px;
        li {
          @include Roboto-500();
          font-size: 14px;
          line-height: 45px;
          text-transform: uppercase;
          color: #0A0A0B;
        }
      }
    }
    .isi3 {
      padding-left: 5%;
      .recentpost1 {
        display: flex;
        padding-top: 30px;
        .recentpost-text {
          padding-left: 20px;
          p {
            @include Open-Sans-800();
            width: 180px;
            font-size: 14px;
            line-height: 24px;
            color: #0A0A0B;
          }
          .date {
            display: flex;
            padding-left: 3px;
            gap: 15px;
            p {
              font-size: 12px;
              color: #686C73;
            }
            img {
              padding-top: 4px;
              height: 100%;
            };
          }
        }
      }
    }
    .isi4 {
      padding-left: 8%;
      .information-content1 {
        align-items: center;
        display: flex;
        gap: 20px;
        padding-top: 30px;
      }
      .information-content2 {
        align-items: center;
        display: flex;
        gap: 20px;
        padding-top: 30px;
      }
      .information-content3 {
        align-items: center;
        display: flex;
        gap: 20px;
        padding-top: 30px;
        padding-left: 3px;
        p {
          padding-left: 2px;
          width: 200px;
        }
      }
      p {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 24px;
        color: #0A0A0B;
      }
    }
  }
}

#footer3 {
  width: 100%;
  max-width: 1920px;
  #content {
    position: absolute;
    padding-top: 700px;
    display: flex;
    left: 19.53%;
    p {
      width: 400px;
      @include Open-Sans-700();
      font-size: 14px;
      line-height: 24px;
      color: #0A0A0B;
    }
    .navfooter {
      padding-left: 300px;
      display: flex;
      gap: 25px;
      align-items: center;
      a {
        @include Open-Sans-700();
        font-size: 14px;
        line-height: 24px;
        color: #0A0A0B;
      }
      span {
        display: block;
        background-color: rgb(0, 0, 0);
        width: 2px;
        height: 18px;
      }
    }
  }
}
